/* ----- Banner ----- */
#banner {
  min-height: 300px;
  color: #FFF;
  background: center center no-repeat #022f41;
  background-size: cover;
}

#banner a {
  color: #FFF;
}

#banner .wrapper {
  display: flex;
  align-items: center;
  min-height: inherit;
}

#banner .content {
  width: 100%;
  padding: 100px 0 40px 0;
  text-align: center;
}

#banner .content h1 {
  margin: 0 0 10px 0;
}

#banner .content h2 {
  max-width: 580px;
  margin: 0 auto;
  color: #F9B02A;
}