/* ----- Global ----- */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #031926;
  background: #031926;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
